@using Models.Framework
@model IEnumerable<ChucNang>
@{
    ViewBag.Title = "ChucNang";
    Layout = "~/Views/Shared/_TemLayout.cshtml";
}
@section header{
    Chức năng
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

                @helper ItemCon(ChucNang item)
                {
                    <ul class="nav nav-treeview">
                        @foreach (var i in item.ChucNang1)
                        {

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>
                                        @i.tenChucNang
                                        @if (i.ChucNang1.Count != 0)
                                        {<i class="fas fa-angle-left right"></i>}
                                    </p>
                                </a>
                                @if (i.ChucNang1.Count != 0)
                                {@ItemCon(i)}
                            </li>

                        }
                    </ul>
                }

                @foreach (var item in Model)
                {
                    if (item.ChucNang2 == null)
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-graduate"></i>
                                <p>
                                    @item.tenChucNang
                                    @if (item.ChucNang1.Count != 0)
                                    {<i class="fas fa-angle-left right"></i>}
                                </p>
                            </a>
                            @if (item.ChucNang1.Count != 0)
                            {@ItemCon(item)}

                        </li>
                    }


                }


            </ul>

        </nav>
    </div>


</aside>