
@{
	ViewBag.Title = "chitietlophoc";
	Layout = "~/Views/Shared/_TemLayout.cshtml";
}


<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link href="~/Content/Template/dist/css/adminlte.css" rel="stylesheet" />
<style>
	.col-md-8 {
		background-color: red;
		height: 800px;
	}
	.col-md-4 .card-footer {
		background-color: forestgreen;
		height: 300px;
	}
</style>
<h2>chitietlophoc</h2>
<div class="row">
	<!-- /.col -->
	<div class="col-md-8">
		

	</div>
	<!-- /.col -->
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">
				load ảnh baner hiển thị từng khóa lên chỗ này

			</div>
			<div class="card-footer">
				 
			</div>
		</div>
		<!-- /.widget-user -->
	</div>

</div>
<!-- /.row -->
