
@{
	ViewBag.Title = "chitietlophoc";
	Layout = "~/Views/Shared/_TemLayout.cshtml";
}


<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link href="~/Content/Template/dist/css/adminlte.css" rel="stylesheet" />
<style>
	.col-md-8 {
		height: auto;
	}
	.col-md-4 .card-footer {
		background-color: forestgreen;
		height: 300px;
		text-align: center;
		
	}
		.col-md-4 .card-footer button {
			background-color: #f05123;
			color: white;
			font-size: 18px;
			outline: 0;
			margin-top: -15px ;
			padding: 8px 35px 8px 35px;
			border-radius: 10px 10px 10px 10px;
		}
		.conten1{
			max-width:100%;
			height:400px;
			background-color:purple;

		}
		.conten2 {
			max-width: 100%;
			height: 250px;
			margin-bottom:20px;
			margin-top:20px;
			background-color: rosybrown;

		}
		.conten3 {
			max-width: 100%;
			min-height: 500px;
			height: auto;
			margin-bottom: 20px;
			background-color: red;
		}
</style>
<h3>Thông Tin Chi Tiết Lớp Học  </h3>
<div class="row">
	<!-- /.col -->
	<div class="col-md-8">
		<div class="conten1">
			tên khóa học và nội dung 
		</div>
		<div class="conten2">
			 yêu cầu của khóa học
		</div>
		<div class="conten3">
			 khu vực bình luận
		</div>

	</div>
	<!-- /.col -->
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">
				load ảnh baner hiển thị từng khóa lên chỗ này

			</div>
			<div class="card-footer">
				 <button> Học Ngay</button>
				 <div>có thông tin gì cần thì đổ thêm ở dưới nút button </div>
			</div>
		</div>
		<!-- /.widget-user -->
	</div>

</div>
<!-- /.row -->
