
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_TemLayout.cshtml";
}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link href="~/Content/Template/dist/css/adminlte.css" rel="stylesheet" />
<style>
	.card-footer{
		height:180px;

<<<<<<< HEAD
<h1>hoc vien</h1>
=======
	}

</style>
<h2>Học Viên</h2>
<div class="row" >
	<!-- /.col -->
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">
				  load ảnh baner hiển thị từng khóa lên chỗ này 

			</div>
			<div class="card-footer">
					<h3 class="widget-user-username">Tên khóa học đỗ vào đây</h3>
					<h5 class="widget-user-desc"> Mô tả đổ vào đâydbsbsjjjjjdsbdsnsdnsdbdsm  dsjbndsjbdsds evewbwbwebwv</h5>
			
				<!-- /.row -->
			</div>
		</div>
		<!-- /.widget-user -->
	</div>
	<!-- /.col -->
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">
					load ảnh baner hiển thị từng khóa lên chỗ này

			</div>
			<div class="card-footer">
				<div class="row">
					<h3 class="widget-user-username">Tên khóa học đỗ vào đây</h3>
					<h5 class="widget-user-desc"> Mô tả đổ vào đây</h5>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<!-- /.widget-user -->
	</div>
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">
				  load ảnh baner hiển thị từng khóa lên chỗ này
			</div>
			<div class="card-footer">
				<div class="row">
					<h3 class="widget-user-username">Tên khóa học đỗ vào đây</h3>
					<h5 class="widget-user-desc"> Mô tả đổ vào đây</h5>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<!-- /.widget-user -->
	</div>
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">
				load ảnh baner hiển thị từng khóa lên chỗ này

			</div>
			<div class="card-footer">
				<div class="row">
					<h3 class="widget-user-username">Tên khóa học đỗ vào đây</h3>
					<h5 class="widget-user-desc"> Mô tả đổ vào đây</h5>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<!-- /.widget-user -->
	</div>
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">
					load ảnh baner hiển thị từng khóa lên chỗ này

			</div>
			<div class="card-footer">
				<div class="row">
					<h3 class="widget-user-username">Tên khóa học đỗ vào đây</h3>
					<h5 class="widget-user-desc"> Mô tả đổ vào đây</h5>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<!-- /.widget-user -->
	</div>
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">
					load ảnh baner hiển thị từng khóa lên chỗ này

			</div>
			<div class="card-footer">
				<div class="row">
					<div class="row">
						<h3 class="widget-user-username">Tên khóa học đỗ vào đây</h3>
						<h5 class="widget-user-desc"> Mô tả đổ vào đây</h5>
					</div>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<!-- /.widget-user -->
	</div>
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">

			      	load ảnh baner hiển thị từng khóa lên chỗ này
			</div>
			<div class="card-footer">
				<div class="row">
					<h3 class="widget-user-username">Tên khóa học đỗ vào đây</h3>
					<h5 class="widget-user-desc"> Mô tả đổ vào đây</h5>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<!-- /.widget-user -->
	</div>
	<div class="col-md-4">
		<!-- Widget: user widget style 1 -->
		<div class="card card-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-info">

				    load ảnh baner hiển thị từng khóa lên chỗ này
			</div>

			<div class="card-footer">
				<div class="row">
					<h3 class="widget-user-username">Tên khóa học đỗ vào đây</h3>
					<h5 class="widget-user-desc"> Mô tả đổ vào đây</h5>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<!-- /.widget-user -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->
>>>>>>> fcd91367398a59b3c876fe2b43cd320ae491fecc
