
<style>
	.table {
		margin-top: 30px;
	}

	.title {
		background-color: gainsboro;
	}

	.noidung {
		border-bottom: 1px solid gainsboro;
	}
</style>
<table class="table table-hover">
	<thead>
		<tr class="title">
			<th>Tên bài học</th>
			<th>File</th>
			<th>Ghi chú</th>
			<th>Thời gian</th>
		</tr>
	</thead>
	<tbody>
		<tr class="noidung">
			<td> đổ tên bài học</td>
			<td> đổ file (video, pdf... về bài đã học) </td>
			<td> chú thích  nếu cần </td>
			<td> đổ thời gian đăng</td>
		</tr>
	</tbody>
</table>
