
@{
    ViewBag.Title = "ChuaDK";
    Layout = "~/Views/Shared/_TemLayout.cshtml";
}

<div class="callout callout-danger">
    <h5>Bạn chưa đăng ký lớp</h5>

    <p>
        Hãy tìm và đăng lý lớp học ngay cho mình
    </p>
    <a href="~/HocVien/Tim" class="btn btn-block btn-success btn-lg" >Đăng ký ngay</a>
</div>